body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* main site header styling */

.main-header {
    background-color: #edeff1;
}

.main-header .container {
    box-sizing: border-box;
    padding: 50px 15px;
}

.main-header .main-logo {
    float: left;
}

.main-header .navigation-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: right;
}

.main-header .navigation-list li {
    float: left;
}

.main-header .navigation-list a {
    display: inline-block;
    text-decoration: none;
    padding: 17px 23px;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 400;
    color: #31353e;
}

.main-header .navigation-list a:hover {
    background-color: #f13200;
    border-radius: 25px;
    color: #edeff1;
}

/* section "introduction" styling */

.introduction {
    color: #ffffff;
    position: relative;
}

.introduction .interior-photo {
    width: 100%;
    height: auto;
    display: block;
}

.introduction .outer-container {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
}

.introduction .container {
    text-align: center;
    padding-bottom: 40px;
}

.introduction .intro-heading,
.introduction .intro-description {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    font-family: "Roboto Slab", serif;
}

.introduction .intro-heading {
    font-size: 72px;
    font-weight: 300;
    margin: 0 0 20px;
}

.introduction .intro-description {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 100px;
}

.introduction .food-menu {
    padding: 30px 0 0;
    margin: 0 0 80px;
    list-style-type: none;
}

.introduction .food-menu li {
    box-sizing: border-box;
    width: 33.33%;
    padding: 0 15px;
    float: left;
}

.introduction .food-menu img {
    width: 134px;
    height: auto;
    margin-bottom: 35px;
}

.introduction .food-menu h5 {
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px;
}

.introduction .food-menu p {
    padding: 0 20px;
    margin: 0;
    line-height: 30px;
}

.introduction .read-more-btn {
    color: #612316;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 61px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

/* section "our-news" styling */

.our-news {
    background-color: #edeff1;
    color: #31353e;
}

.our-news .container {
    padding: 80px 0 100px;
    text-align: center;
}

.our-news .news-heading {
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 85px;
}

.our-news .food-articles-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.our-news .food-articles-list li {
    box-sizing: border-box;
    width: 33.33%;
    padding: 0 15px;
    float: left;
}

.our-news .food-article img {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.our-news .food-article h3 {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 15px;
}

.our-news .food-article p {
    line-height: 30px;
    padding: 0 40px;
    margin: 0 0 40px;
}

.our-news .read-more-btn {
    display: inline-block;
    text-decoration: none;
    color: #4e5159;
    padding: 21px 54px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #ffffff;
}

/* section "newsletter" styling */

.newsletter {
    color: #ffffff;
    padding: 90px 0;
    text-align: center;
    background-image: url("../img/burger-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.newsletter h2 {
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 22px;
}

.newsletter p {
    max-width: 533px;
    width: 100%;
    margin: 0 auto 43px;
    line-height: 24px;
}

.newsletter .signup-form {
    position: relative;
    max-width: 510px;
    width: 100%;
    margin: 0 auto 20px;
}

.signup-form input[type="email"],
.signup-form input[type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 35px;
}

.signup-form input[type="email"] {
    box-sizing: border-box;
    color: #f3f4f6;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 17px 240px 19px 34px;
}

.signup-form input[type="submit"] {
    color: #612316;
    position: absolute;
    top: 0;
    right: 0;
    padding: 17px 74px 19px;
    cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Safari */
    color: #f3f4f6;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #f3f4f6;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #f3f4f6;
}

:-moz-placeholder { /* Firefox 18- */
    color: #f3f4f6;
}

/* main footer styling */

.main-footer {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}

.secondary-navigation {
    background-color: #e85000;
}

.secondary-navigation .container {
    padding: 100px 0 80px;
    list-style-type: none;
}

.secondary-navigation .outer-list-item {
    box-sizing: border-box;
    width: 33.33%;
    padding: 0 15px;
    float: left;
}

.inner-nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.inner-nav-list li {
    margin-bottom: 18px;
}

.inner-nav-list li:last-of-type {
    margin-bottom: 0;
}

.inner-nav-list a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    display: inline-block;
}

.main-footer .copyright {
    padding-bottom: 100px;
    background-image: url("../img/burger-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.copyright .container {
    padding: 90px 0 100px;
}

.main-footer .copyright p {
    font-family: "Proxima Nova", sans-serif;
    margin: 0 0 10px;
}

.main-footer .copyright p:last-of-type {
    margin: 0 0 43px;
}

.main-footer .copyright a {
    font-family: "Proxima Nova", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}
